[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=searduinoqml
Exec=/usr/bin/single-instance /opt/searduinoqml/bin/searduinoqml
Icon=/usr/share/icons/hicolor/80x80/apps/searduinoqml80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
