/*** Auto generated main function  ***/

int main(void)
{
  
  init();

  /* The following line uses a Saerduino macro 
   * You could use a plain "for (;;)" instead
   */
  SEARDUINO_LOOP()
    {
      loop();
    }
}
/*** End of auto generated code ***/


