/*************************************************
 * Auto generated C file from __ARD_FILE__
 *  
 *    
 *  
 */

#include <Arduino.h>
#include "searduino.h"

__SETUP__

__LOOP__

int main(void)
{
  
  init();
  setup();

  /* The following line uses a Saerduino macro 
   * You could use a plain "for (;;)" instead
   */
  SEARDUINO_LOOP()
    {
      loop();
    }
}

/*** End of auto generated code ***/


