/*************************************************
 * Partly auto generated C file from __ARD_FILE__
 *    Authors: original author of the INO file and Henrik Sandklef.
 *
 *    Henrik waives all claims of copyright on the generated code in this 
 *    file so you can treat it as your own.
 *
 */                      

#include <Arduino.h>
#include "searduino.h"

/*** End of auto generated part ***/


