/*************************************************
 *
 * Partly auto generated C file from __ARD_FILE__
 *    (C) is to be dealt with later 
 *
 */

#include <Arduino.h>
#include "setup.h"

/*
 *
 * End of auto generated part
 *
 **************************************************
 */













