/*************************************************
 * Partly auto generated C file from __ARD_FILE__
 *    (C) is a mix of original Arduino author's codes and Henrik Sandklef
 */

#include <Arduino.h>
#include "setup.h"

/*** End of auto generated part ***/













